{% extends "base.html" %}
{% block content %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>Edit {{book.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form action="{{ url_for('editBook', bookId=book.id, category=category) }}" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" value="{{book.name}}">
                    <div class="padding-bottom"></div></br>
                    <button type="submit" class="btn btn-default" id="submit">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save
                    </button>
                </div>

                <a href = "{{ url_for('index') }}">
                    <button class="btn btn-default delete">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                </a>
            </form>

        </div>
    </div>

{% endblock %}